<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>
                local_movies
            </mat-icon>AngularMovies</a>
    </span>
    <div>
        <a mat-button routerLink="movies/filter"><mat-icon>search</mat-icon>Search Movies</a>
    </div>
    <div>
        <a mat-button routerLink="genres"><mat-icon>palette</mat-icon>Genres</a>
    </div>
    <div>
        <a mat-button routerLink="actors"><mat-icon>person</mat-icon>Actors</a>
    </div>
    <div>
        <a mat-button routerLink="movietheaters"><mat-icon>theaters</mat-icon>Theaters</a>
    </div>
    <div>
        <a mat-button routerLink="movies/create"><mat-icon>add_box</mat-icon>Create Movies</a>
    </div>
</mat-toolbar>